@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-Blue: hsl(225, 100%, 94%);
  --Bright-Blue: hsl(245, 75%, 52%);
  --Very-Pale-Blue: hsl(225, 100%, 98%);
  --Desaturated-Blue: hsl(224, 23%, 55%);
  --Dark-Blue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}

p {
  color: var(--Desaturated-Blue);
  text-align: center;
  font-size: 16px;
  width: 260px;
  line-height: 21px;
  margin-top: 20px;
  margin-left: 100px;
}

.plan-box {
  background-color: var(--Very-Pale-Blue);
  width: 345px;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 25px;
  margin-left: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-text {
  padding-left: 25px;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 5px;
}

h3 {
  color: var(--Desaturated-Blue);
  font-size: 13px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}

.chg {
  color: var(--Bright-Blue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  margin-left: 85px;
  font-size: 13px;
}

.chg:hover {
  color: hsl(245, 75%, 68%);
  text-decoration: none;
}

.button {
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 45px;
  margin-top: 30px;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 0px 20px 11px rgba(0, 0, 0, 0.1);
  background-color: var(--Bright-Blue);
}

.button:hover {
  background-color: hsl(245, 75%, 68%);
}

.cancel {
  color: var(--Desaturated-Blue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 14px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 35px;
  padding-bottom: 30px;
}

.cancel:hover {
  color: black;
}

.box {
  background-color: white;
  width: 450px;
  height: auto;
  border-radius: 0 0 15px 15px;
}

/*IMAGES*/

.back-image {
  background-image: url("images/pattern-background-desktop.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Pale-Blue);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
}

.top-pic {
  border-radius: 15px 15px 0 0;
}

.music {
  padding-top: 24px;
  padding-bottom: 24px;
  height: 470;
}

@media screen and (max-width: 475px) {
  .top-pic {
    width: 325px;
    height: 160px;
  }

  .box {
    width: 325px;
  }

  h1 {
    font-size: 23px;
    margin: 0;
    margin-top: 35px;
  }

  p {
    width: 230px;
    margin: 0;
    margin-left: 45px;
    margin-top: 20px;
  }

  .plan-box {
    width: 270px;
    height: 81px;
    margin: 0;
    margin-top: 30px;
    margin-left: 25px;
  }

  h2 {
    width: 90px;
  }

  .chg {
    margin: 0;
    margin-left: 35px;
  }

  .button {
    width: 280px;
    margin: 0;
    margin-top: 30px;
    margin-left: 25px;
  }
}
