@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  /* Primary */
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  /* Neutral */
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  background-image: url("images/pattern-background-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--paleBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.box {
  background-color: white;
  max-width: 45rem;
  border-radius: 0 0 1.5rem 1.5rem;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  padding-top: 3rem;
  text-align: center;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

h3 {
  color: var(--desaturatedBlue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

p {
  color: var(--desaturatedBlue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  max-width: 28rem;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: center;
  line-height: 2.3rem;
}

.top-pic {
  display: block;
  border-radius: 1.5rem 1.5rem 0 0;
}

.plan-box {
  background-color: var(--veryPaleBlue);
  max-width: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 1rem;
}

.music-img {
  padding: 2.2rem 0;
}

.plan-text {
  padding-left: 2.5rem;
}

.chg-button {
  color: var(--brightBlue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding-left: 7rem;
}

.chg-button:hover {
  color: hsl(245, 75%, 68%);
  text-decoration: none;
}

.purchase-button {
  color: white;
  background-color: var(--brightBlue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin: 3rem auto;
  box-shadow: 0 2rem 1.1rem rgba(0, 0, 0, 0.14);
  border-radius: 1rem;
  text-decoration: none;
}

.purchase-button:hover {
  background-color: hsl(245, 75%, 68%);
}

.cancel-button {
  color: var(--desaturatedBlue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
  width: 10rem;
  display: flex;
  padding-bottom: 4rem;
  margin: 3rem auto;
  text-decoration: none;
}

.cancel-button:hover {
  color: black;
}
